{% extends 'base.html.twig' %}

{% block title %}Вход{% endblock %}

{% block body %}
    <div class="container">
        <a href="{{ path('index_page') }}" class="btn btn-primary mb-5">← Главная</a>
        <div class="row justify-content-md-center">
            <div class="col-md-4">
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <h1 class="h3 mb-3 font-weight-normal">Войдите</h1>
                    <div class="form-group">
                        <label for="inputUsername" class="sr-only">Пользователь</label>
                        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="Пользователь" required autofocus>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="sr-only">Пароль</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Пароль" required>
                    </div>
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >


                    <button class="btn btn-primary" type="submit">
                        Войти
                    </button>
                    <a href="{{ path('app_register') }}"
                       class="btn btn-outline-primary float-right">Регистрация</a>
                </form>
            </div>
        </div>

    </div>

{% endblock %}
