{% extends 'base.html.twig' %}

{% block title %}Регистрация{% endblock %}


{% block body %}
<div class="container">
    <a href="{{ path('app_login') }}" class="btn btn-primary mb-5">← Вход</a>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            {{ form_start(registrationForm) }}

            {{ form_row(registrationForm.username, {'label': 'Имя пользователя'}) }}
            {{ form_row(registrationForm.plainPassword, {'label': 'Пароль'}) }}

            <button class="btn btn-primary">Зарегистрироваться</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
</div>
{% endblock %}
