{% extends "base.html.twig" %}
{% block title %}
    Ресайз и наложение ватермарки{% if result == true %} (Результат){% endif %}.
{% endblock %}
{% block body %}
    <div class="container">
       {% if result == false %}
           <a href="{{ path('index_page') }}" class="btn btn-primary mb-5">← Главная</a>
           <br>
           <a href="{{ path("gif_process_page") }}" class="btn btn-success js-gif">Изменить gif</a>
       {% else %}
           <a href="{{ path('gif_page') }}" class="btn btn-primary mb-5">← Страница изменения gif</a>
           <br>
           <div class="h3 mb-5">original.gif</div>
           <img src="/img/original.gif" alt="" width="350" height="284" class="img-thumbnail">
           <div class="h3 mb-5">circle_php.png</div>
           <img src="/img/circle_php.png" height="50" width="50" class="img-thumbnail">
           <div class="h3 mb-5">PHP.png</div>
           <img src="/img/PHP.png" width="80" height="42" class="img-thumbnail">
           {% for image in images %}
               <hr>
               <div class="h3 mb-5">out_{{ image.x }}_{{ image.y }}.gif</div>
               <img src="/img/out_{{ image.x }}_{{ image.y }}.gif" alt="" width="{{ image.x }}" height="{{ image.y }}" class="img-thumbnail mb-5">
           {% endfor %}
       {% endif %}
    </div>
{% endblock %}