{% extends "base.html.twig" %}
{% block title %}
    Главная
{% endblock %}
{% block body %}
    <div class="container">
        {% if app.user == null %}
            <a href="{{ path('app_login') }}" class="btn btn-primary">Войти</a>
        {% else %}
            <a href="{{ path('app_logout') }}" class="btn btn-primary">Выйти</a>
        {% endif %}
        <br class="mb-5">
        {% if is_granted('ROLE_USER') %}
            <a href="{{ path('follow_page') }}" class="btn btn-primary mb-1">Плагин follow</a>
            <br>
            <a href="{{ path('gif_result_page') }}" class="btn btn-primary mb-1">Результат изменения gif</a>
            <br>
            <a href="{{ path('gif_page') }}" class="btn btn-primary mb-1">Страница изменения gif</a>
            <br>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('user_index') }}" class="btn btn-primary">Список пользователей</a>
        {% endif %}
    </div>
{% endblock %}