{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <div class="container">
        <a href="{{ path('user_index') }}" class="btn btn-primary mb-5">← к&nbsp;списку</a>
        <div class="row">
            <div class="col-md-6">
                {{ include('user/_form.html.twig', {'button_label': 'Обновить'}) }}

                {{ include('user/_delete_form.html.twig') }}
            </div>
        </div>
    </div>

{% endblock %}
