{% extends 'base.html.twig' %}

{% block title %}Просмотр пользователя{% endblock %}

{% block body %}
<div class="container">
    <a href="{{ path('user_index') }}" class="btn btn-primary mb-5">← к&nbsp;списку</a>
    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ user.id }}</td>
        </tr>
        <tr>
            <th>Username</th>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <th>Roles</th>
            <td>{% for role in user.roles %}
                    {{ role }},<br>
                {% endfor %}</td>
        </tr>
        <tr>
            <th>Password</th>
            <td>{{ user.password }}</td>
        </tr>
        <tr>
            <th>Active</th>
            <td>{{ user.active ? 'Yes' : 'No' }}</td>
        </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-5">
            <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-success float-left">Правка</a>
            {{ include('user/_delete_form.html.twig') }}
        </div>
    </div>

</div>
{% endblock %}
